
ErrorDocument 403 "Access Forbidden"

AddType text/cache-manifest .manifest



RewriteEngine On
RewriteBase /
RewriteRule ^(.*/)?\.svn/ - [F,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^build/.*$ - [NC,L]

RewriteRule ^(.*)$ index.html [QSA,L]



