<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.portnou.cordova.plugin.preferences"
    version="1.0.0">

    <name>Cordova Preferences Plugin</name>
    <description>Plugin allows to save simple key-value pairs in device's persistent storage via NSUserDefaults/SharedPreferences.</description>
    <keywords>ios,android,key-value,preferences,sharedpreferences,userdefaults</keywords>
    <repo>https://github.com/alexportnoy/cordova-prefs-plugin</repo>
    <author>Alexander S Portnoy</author>
    <license>Apache 2.0</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/preferences.js" name="Preferences">
        <clobbers target="Preferences" />
    </js-module>

    
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Preferences" >
                <param name="android-package" value="com.portnou.cordova.plugin.preferences.Preferences"/>
            </feature>
        </config-file>
        <source-file src="src/android/preferences.java" target-dir="src/com/portnou/cordova/plugin/preferences" />

    </platform>


	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Preferences">
				<param name="ios-package" value="Preferences"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<header-file src="src/ios/preferences.h" />
		<source-file src="src/ios/preferences.m" />
	</platform>
</plugin>