.page-game-victory {
  position: relative;
  background-color: $gamePageVictory-bg-color;
}

.page-game-victory > .page-content {
  /*margin-top: 0rem;*/
  //height: 100%;
  //width: 100%;

  .container {
    background-color: $gamePageVictory-container-bg-color;
    color: $gamePageVictory-container-color;
    $margin-left-right: 2.8125rem;
//    margin-left: $margin-left-right;
//    margin-right: $margin-left-right;
    //margin-top: 2.25rem;
//    margin-top: 0;
      margin: 1.5rem $margin-left-right;

      &.transform-center{
          position: relative;
          transform: translateX(-0%) translateY(-50%);
          top: 50%;
          margin-top: 0;
          margin-bottom: 0;
      }

    .excellent {
      padding-top: 1rem;
      text-align: center;
      font-size: 1.5rem;
    }

    .stars {
      margin-top: 1rem;
      height: 3.125rem;
      text-align: center;
      position: relative;

      .star-line{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        div{
          margin-right: 0.6875rem;
          display: inline-block;
          height: 3.0625rem;
          background-size: contain;
          background-repeat: no-repeat;
        }

        div:last-child {
          margin-right: 0;
        }
      }

      .star1,
      .star3 {
        width: 2.125rem;
      }

      .star2 {
        width: 2.75rem;
      }

      $animation-name: zoomIn;
      .star1.star-full {
        opacity: 1;

        $name: $animation-name;
        $duration: 0.75s;

        -webkit-animation-name: $name;
        -webkit-animation-duration: $duration;
        animation: $name;
        animation-duration: $duration;

        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      .star2.star-full {
        opacity: 1;


        $name: $animation-name;
        $duration: 0.75s;
        $delay: 0.5s;

        -webkit-animation-name: $name;
        -webkit-animation-duration: $duration;
        -webkit-animation-delay: $delay;
        animation: $name;
        animation-duration: $duration;
        animation-delay: $delay;

        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      .star3.star-full {
        opacity: 1;

        $name: $animation-name;
        $duration: 0.75s;
        $delay: 1s;

        -webkit-animation-name: $name;
        -webkit-animation-duration: $duration;
        -webkit-animation-delay: $delay;
        animation: $name;
        animation-duration: $duration;
        animation-delay: $delay;

        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
    }

    .rounds-complete {
      margin: 1.5rem auto;
      width: 10.25rem;
      position: relative;
      height: 0.8125rem;
      line-height: 0.8125rem;
      text-align: center;

      .stats {
        top: 0.03125rem;
        left: 0;
        position: absolute;
        font-size: 0.75rem;
      }
      .progress-bar {
        display: inline-block;
        position: relative;
        height: 0.8125rem;
        width: 6.250rem;
        line-height: 0.8125rem;
        vertical-align: top;

        .panel {
          position: absolute;
          width: 6.250rem;
          height: 0.6875rem;
          background-color: $gamePageVictory-container-roundsComplete-panel-bg-color;
          border-radius: 0.3125rem;
          top: 0.0625rem;

        }
        .fill {
          top: 0;
          position: absolute;
          height: 0.8125rem;
          background-color: $gamePageVictory-container-roundsComplete-progress-bg-color;
          border-radius: 0.4rem;
        }
      }
    }

    .your-reward {
      text-align: center;
      font-size: 1.15rem;
    }

    .rewards {
      height: 1rem;
      margin-top: 0.75rem;
      text-align: center;
      font-size: 0.875rem;

      div {
        text-align: initial;
        display: inline-block;
        height: 1rem;
        background-repeat: no-repeat;
        background-size: contain;
        line-height: 1.125rem;
        vertical-align: middle;
      }
      .score {
        margin-right: 2.5rem;
        padding-left: 1.25rem;
      }
      .coins {
        padding-left: 1rem;
      }
    }

    .continue {
      height: 4.875rem;
      margin-top: 1.25rem;
      vertical-align: middle;
      line-height: 4.875rem;
      text-align: center;

      .button {
        display: inline-block;
        border-radius: 0.425rem;
        text-align: center;
        height: 2.375rem;
        background-color: $gamePageVictory-container-continue-button-bg-color;
        width: 7.8125rem;
        line-height: 2.365rem;
        vertical-align: middle;
        font-size: 1rem;
      }
    }
  }
}