.page-main{
    position: relative;
    height: 100%;
    background-color: $mainPage-bg-color;
    width: 100%;
}

    .page-main > .page-content{
        /*margin-top: 0rem;*/
        height: 100%;
        width: 100%;
    }

    .page-main .page-content .head {
        height: 6.875rem;
        background-color: $header-bg-color;
        background-repeat: no-repeat;
        background-size: 14.813rem 4.313rem;
        background-position: center center;
        width: 100%;
    }

    .page-main .page-content .menu {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 0.875rem;
        color: #000;
        margin: 0;
        padding: 0;

        .swiper-container {
            width: 100%;
            height: 12.688rem;
            margin: 1.125rem auto;
        }

        .swiper-slide {
            height: 10.938rem;
            text-align: center;
            color: $slide-text-color;

            .on-click {
                height: inherit;
                width: inherit;

                .slide-number,
                .player-name {
                    line-height: 100%;
                    font-size: $slide-heading-font-size;
                }
                .slide-number {
                    padding-top: 1.4rem;
                    vertical-align: bottom;
                }
                .player-name {
                    vertical-align: top;
                }
                .words-complete {
                    margin: 0.6rem auto;
                    width: 100%;
                    height: 1rem;
                    //padding: auto;

                    .stats {
                        display: inline-block;
                        font-size: $slide-progress-font-size;
                        margin-right: 0.55rem;
                        line-height: 1rem;
                        vertical-align: middle;
                    }
                    .progress-bar {
                        display: inline-block;
                        position: relative;
                        height: 0.688rem;
                        width: 6.250rem;
                        line-height: 1rem;
                        vertical-align: middle;

                        .panel {
                            position: absolute;
                            width: 6.250rem;
                            height: 0.625rem;
                            background-color: $slide-wordsComplete-panel-bg-color;
                            border-radius: 0.3125rem;
                            margin-top: 0.0315rem;
                            margin-bottom: 0.315rem;

                        }
                        .fill {
                            position: absolute;
                            //width: 6.250rem * $slide-wordsComplete-progress-size;
                            height: 0.688rem;
                            background-color: $slide-wordsComplete-progress-bg-color;
                            border-radius: 0.3125rem;
                        }
                    }
                }
                .play {
                    margin: auto;
                    height: 2.875rem;
                    width: 2.875rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .score {
                    font-size: $slide-score-font-size;
                    margin-top: 0.6rem;
                    margin-bottom: 0.9rem;
                }
            }
        }

        .swiper-slide:first-child {
            background-color: $slide1-bg-color;
        }
        .swiper-slide:nth-child(2) {
            background-color: $slide2-bg-color;
        }
        .swiper-slide:nth-child(3) {
            background-color: $slide3-bg-color;
        }
        .swiper-slide:nth-child(4) {
            background-color: $slide4-bg-color;
        }
        .swiper-slide:nth-child(5) {
            background-color: $slide5-bg-color;
        }
        .swiper-slide:nth-child(2n) {
            width: 40%;
        }
        .swiper-slide:nth-child(3n) {
            width: 20%;
        }
        .swiper-pagination-bullet {
            $spaceBetween: 0.313rem / 2;
            margin-left: $spaceBetween;
            margin-right: $spaceBetween;
            opacity: 1;
            line-height: 100%;
            vertical-align: middle;
            background-color: $swiper-pagination-bullet;
        }
        .swiper-pagination-bullet-active {
            $side: 0.500rem * 1.25;
            width: $side;
            height: $side;
            background-color: $swiper-pagination-bullet-active;
        }
    }

    .page-main .page-content .footer {
        background-color: $footer-bg-color;
        height: 3.125rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 2.083rem;
        padding: 0.300rem 0;
        //padding: auto 0;

        .rsbc-switch-button {
            //height: 1.500rem*$footerSwitch-size;
            //line-height: 1.500rem*$footerSwitch-size;
            //line-height: 100%;
            display: block;
            //vertical-align: middle;
        }

        .rsbc-switch-button label {
            padding: 0;
            color: $footerLabel-color;
            font-size: $footerLabel-font-size;
            cursor: pointer;
            //height: 1.500rem*$footerLabelFont-size;
            //line-height: 1.500rem*$footerLabelFont-size;
            //line-height: 120%;
            vertical-align: middle;
        }

        .rsbc-switch-button input[type="checkbox"] {
            margin-left: -624.938rem*$footerSwitch-size;
        }

        .rsbc-switch-button > label:first-child {
            min-width: 0;
            margin: 0 0.750rem 0 0
        }

        .rsbc-switch-button label + label {
            /*margin-left: 0.375rem*$footerSwitch-size*/
        }

        .rsbc-switch-button input[type="checkbox"] + label {

        }

        .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label {
            padding: 0.125rem*$footerSwitch-size;
            width: 3.000rem*$footerSwitch-size;
            height: 1.500rem*$footerSwitch-size;
            //line-height: 1.500rem*$footerSwitch-size;
            //line-height: 2.1875rem;
            /*background-color: #eee;*/
            -webkit-border-radius: 3.750rem*$footerSwitch-size;
            -moz-border-radius: 3.750rem*$footerSwitch-size;
            border-radius: 3.750rem*$footerSwitch-size;
        }

        .rsbc-switch-button.rsbc-switch-button-flat-round:hover input[type="checkbox"] + label {
            /*background-color: #6f6f6f*/
        }

        .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:before, .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:after {

        }

        .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:before {
            top: 0.125rem*$footerSwitch-size;
            left: 0.125rem*$footerSwitch-size;
            bottom: 0.125rem*$footerSwitch-size;
            right: 0.125rem*$footerSwitch-size;
            -webkit-border-radius: 3.750rem*$footerSwitch-size;
            -moz-border-radius: 3.750rem*$footerSwitch-size;
            border-radius: 3.750rem*$footerSwitch-size;
        }

        .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:after {
            top: 0.250rem*$footerSwitch-size;
            left: 0.250rem*$footerSwitch-size;
            bottom: 0.250rem*$footerSwitch-size;
            width: 1.000rem*$footerSwitch-size;
            -webkit-border-radius: 3.250rem*$footerSwitch-size;
            -moz-border-radius: 3.250rem*$footerSwitch-size;
            border-radius: 3.250rem*$footerSwitch-size;
        }

        .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked + label {
            background-color: $footerSwitchBorderOn-bg-color;
        }

        .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked + label:after {
            margin-left: 1.500rem*$footerSwitch-size;
            background-color: $footerSwitchCircleOn-bg-color;
        }

    }