.page-learn {
  position: relative;
  height: 100%;
  background-color: $pageLearn-bg-color;
  width: 100%;
}

.page-learn > .page-content {
  height: 100%;
  width: 100%;

  .container {
    background-color: $pageLearn-container-bg-color;
    color: $pageLearn-container-color;
    //margin: 0.3125rem 1.125rem;
    margin: 0 1.125rem;
    text-align: center;
    padding: 0.25rem 0.75rem 0.75rem;
    position: relative;
    transform: translateX(-0%) translateY(-50%);
    top: 50%;

    .aim-of-the-game {
      display: table;
      height: 4.85rem;

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .image-of-board {
      height: 10rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .how-to-play {
      display: table;
      height: 5.8rem;

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .start {
      background-color: #2ecc71;
      $height: 2.35rem;
      height: $height;
      line-height: $height;
      vertical-align: middle;
      width: 10.375rem;
      display: inline-block;
    }
  }
}