.page-shop {
  position: relative;
  height: 100%;
  background-color: $pageShop-bg-color;
  width: 100%;
}

.page-shop > .page-content {
  height: 100%;
  width: 100%;

  .container {
    background-color: $pageShop-container-bg-color;
    color: $pageShop-container-color;
    $margin-left-right: 2.25rem;
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    margin-top: 1.25rem;
    text-align: center;

    .heading {
      height: 2.5rem;
      font-size: $pageShop-heading-font-size;
      $padding-top-bottom: 0.5rem;
      padding-top: $padding-top-bottom;
      padding-bottom: $padding-top-bottom;
      vertical-align: middle;
      line-height: $pageShop-heading-font-size;
      background-color: $pageShop-header-bg-color;
    }

    .outer-block {
      height: 2.74rem;
      width: 100%;
      padding-top: 0.365rem;
      padding-bottom: 0;
      $padding-left-right: 0.74rem;
      padding-left: $padding-left-right;
      padding-right: $padding-left-right;

      &:last-child {
        height: 3.105rem;
        padding-bottom: 0.365rem;
      }

      .inner-block {
        position: relative;
        display: inline-block;
        height: 2.375rem;
        width: 100%;
        background-color: $pageShop-inner-block-bg-color;
        vertical-align: middle;
        line-height: 2.375rem;

        &.buy-coins {
          background-repeat: no-repeat;
          background-size: 3.125rem 2.1875rem;
          background-position: center;
        }

        .text {
          float: left;
          text-align: left;
          width: 9rem;
          margin-left: 5%;
          font-size: $pageShop-coins-font-size;
        }

        .add-free-coins {
          float: right;
          width: 3rem;
          margin-right: 5%;
          text-align: right;
        }

        .coins {
          float: left;
          text-align: left;
          width: 2.5rem;
          margin-left: 5%;
          font-size: $pageShop-coins-font-size;
        }

        .price {
          float: right;
          height: 1.625rem;
          width: 3.25rem;
          margin-right: 5%;
          margin-top: 0.375rem;
          background-color: $pageShop-price-bg-color;
          border-radius: 0.25rem;
          vertical-align: middle;
          line-height: 1.625rem;
          font-size: $pageShop-price-font-size;
        }
      }
    }

    .free-coins {
      font-size: $pageShop-freeCoins-font-size;
      margin-top: 0.365rem;
    }
  }
}