.page-bonus {
  position: relative;
  background-color: $pageBonus-bg-color;
}

.page-bonus > .page-content {
  //height: 100%;
  //width: 100%;

  .container {
    position: relative;
    transform: translateX(-0%) translateY(-50%);
    top: 50%;

    background-color: $pageBonus-container-bg-color;
    color: $pageBonus-container-color;
    $margin-left-right: 1.625rem;
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    //margin-top: 0.5rem;
    margin-top: 0;
    text-align: center;
    line-height: 50%;

    .heading {
      height: 2.5rem;
      font-size: $pageBonus-heading-font-size;
      $padding-top-bottom: 0.5rem;
      padding-top: $padding-top-bottom;
      padding-bottom: $padding-top-bottom;
      vertical-align: middle;
      line-height: $pageBonus-heading-font-size;
    }
    .day {
      width: 100%;
      position: relative;
      display: inline-table;
      //display: table;
      $day-height: 2.925rem;
      height: $day-height;
      $padding-left-right: 4rem;
      padding-left: $padding-left-right;
      padding-right: $padding-left-right;
      line-height: initial;

      .content {
        font-size: $pageBonus-day-font-size;
        line-height: $pageBonus-day-font-size * 0.9;
        //min-width: 8.75rem;
        display: table-cell;
        vertical-align: middle;
      }

      .calendar {
        position: absolute;
        left: 5%;
        $calendar-size: 2.375rem;
        top: ($day-height - $calendar-size) / 2;
        width: $calendar-size;
        height: $calendar-size;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 0.95rem;
        line-height: 0.5rem;

        span {
          font-size: 0.75rem;
          //vertical-align: middle;
        }
      }

      &.unlocked {
        background-color: $pageBonus-day-unlocked-bg-color;
      }
      &.today {

      }
      &.locked {
        background-color: $pageBonus-day-locked-bg-color;
        color: $pageBonus-day-locked-color;
      }
      .line {
        position: absolute;
        width: 100%;
        height: $day-height;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, transparent 98.8%, $pageBonus-day-line-bg-color .0625rem);
        background-size: 90% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .prize {
        position: absolute;
        $height: 1rem;
        height: $height;
        right: 5%;
        top: ($day-height - $height) / 2;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: $pageBonus-coins-font-size;
        background-position: right;
        padding-right: 1rem;
      }
      .tick {
        position: absolute;
        $height: 1.5rem;
        right: 5%;
        top: ($day-height - $height) / 2;
        width: 1.625rem;
        height: $height;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .collect {
      font-size: $pageBonus-collect-font-size;
      background-color: $pageBonus-collect-bg-color;
      $padding-top-bottom: 0.625rem;
      padding-bottom: $padding-top-bottom;
      padding-top: $padding-top-bottom;
      vertical-align: middle;
      line-height: $pageBonus-collect-font-size;
    }
  }
}