//MAIN PAGE
//COLOR

//mainPage
$mainPage-bg-color: #81cfe0;

//mainPage-Header
$header-bg-color: #2574a9;

//mainPage-Counters
$counters-bg-color: #2ecc71;
$countersPanel-bg-color: rgba(85,85,85,0.5);
$countersNumbers-color: #ffffff;
$scoreCounterPanel-bg-color: $countersPanel-bg-color;
$scoreCounterNumbers-color: $countersNumbers-color;
$coinsCounterPanel-bg-color: $countersPanel-bg-color;
$coinsCounterNumbers-color: $countersNumbers-color;

//mainPage-Menu
$slide-onClick-bg-color: rgba(0,0,0,0.2);
$slide-text-color: #ffffff;
$slide-wordsComplete-panel-bg-color: rgba(85,85,85,0.5);
$slide-wordsComplete-progress-bg-color: #ffffff;
$slide-instructions-buy: #26c281;
$swiper-pagination-bullet: #ffffff;
$swiper-pagination-bullet-active: #e87e04;
$hover-box-shadow: inset 999rem 0 rgba(0,0,0,0.2);
$navigation-btn-bg-color: #26c281;
$navigation-btn-rating-bg-color: #ff9d00;
$navigation-btn-facebook-bg-color: #3a539b;
$navigation-btn-shop-bg-color: #ff4545;


//mainPage-Footer
$footer-bg-color: #2574a9;
$footerLabel-color: #ffffff;
$footerSwitchOn-bg-color: #26c281;
$footerSwitchBorderOn-bg-color: $footerSwitchOn-bg-color;
$footerSwitchCircleOn-bg-color: $footerSwitchOn-bg-color;


//SIZE
//mainPage-Menu
//$slide-wordsComplete-progress-size: 0.7;
$slide-heading-font-size: 1.05rem;
$slide-progress-font-size: 0.6rem;
$slide-score-font-size: 0.7rem;
$slide-locked-progress-font-size: 0.75rem;

//mainPage-Footer
$footerSwitch-size: 1.2;
$footerLabel-font-size: 1.500rem;



//GAME PAGE
//COLOR

//gamePage
$gamePage-bg-color: $mainPage-bg-color;

//SIZE
