.page-game {
  position: relative;
  height: 100%;
  background-color: $gamePage-bg-color;
  width: 100%;
}

.page-game > .page-content {
  /*margin-top: 0rem;*/
  height: 100%;
  width: 100%;

  .timer {
    position: relative;
    padding-top: 0.71875rem;
    height: 1.625rem;
    background-color: $gamePage-timer-bg-color;

    .time-line {
      font-size: 1rem;
      position: relative;
      margin-left: 0.75rem;
      height: 0.1875rem;
      width: 88.125%;

      .panel {
        position: absolute;
        border-radius: 1rem;
        top: 0.03125rem;
        bottom: 0.03125rem;
        background-color: $gamePage-timer-timeLine-panel-bg-color;
        width: 100%;
        height: 0.125rem;
      }
      .fill {
        position: absolute;
        top: 0;
        border-radius: 1rem;
        background-color: $gamePage-timer-timeLine-fill-bg-color;
        height: 0.1875rem;
      }
    }

    .timer-stars {
      top: 0;
      position: absolute;
      height: 1.625rem;
      margin-left: 0.25rem;
      width: 90%;
      //background-position: 2% 0.3125rem, 33% 0.3125rem, 63% 0.3125rem, 97.25% 0.3125rem;
      //background-size: 1rem 1rem, 1rem 1rem, 1rem 1rem, 0.875rem 1rem;
      //background-position: 0 0.3125rem, 34.2% 0.3125rem, 67.66% 0.3125rem;
      background-position: 0 0.3125rem, 34.2% 0.3125rem, 67.66% 0.3125rem;
      background-size: 1rem 1rem, 1rem 1rem, 1rem 1rem;
      background-repeat: no-repeat;
    }

    .timer-clock {
      position: absolute;
      top: 0;
      left: 94%;
      height: 1.625rem;
      width: 0.875rem;
      background-position: 0 0.3125rem;
      background-size: 0.875rem 1rem;
      background-repeat: no-repeat;
    }
  }

  .chips {
    height: 3.125rem;
    margin: 0.25rem auto;
    width: 84.375%;
    color: #ffffff;

    .btn.chip {
      position: relative;
      height: 3.125rem;
      width: 33.33%;
      display: inline-block;
      background-repeat: no-repeat;
      text-align: center;
      line-height: 0.75rem;
      font-size: 0.75rem;

      .text {
        display: table;
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;

        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .value {
        width: 1.75rem;
        position: absolute;
        bottom: 0.4rem;
        left: 10%;
      }
    }
    .open-word {
      background-color: $gamePage-chip-open-word-bg-color;
      background-size: 1.3125rem 1.1875rem;
      background-position: 90% 1.6875rem;
    }
    .open-letter {
      background-color: $gamePage-chip-open-letter-bg-color;
      background-size: 1.625rem 1.1875rem;
      background-position: 90% 1.6875rem;
    }
    .show-word {
      background-color: $gamePage-chip-show-word-bg-color;
      background-size: 1.375rem 1.1875rem;
      background-position: 90% 1.6875rem;
    }
  }

  .board {
    border-collapse: collapse;
    border: 0.0625rem solid $gamePage-board-color-border;
    background-color: $gamePage-board-td-bg-color-default;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    table-layout: fixed;

    td {
      cursor: pointer;
      position: relative;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      border: none;
      line-height: 100%;
      background-image: linear-gradient(90deg, $gamePage-board-td-bg-color-default-transparent 98.8%, $gamePage-board-color-border .0625rem),
      linear-gradient(180deg, $gamePage-board-td-bg-color-default-transparent 98.829%, $gamePage-board-color-border 0.0625rem);
      background-size: 100% 100%, 200% 100%;
      background-position: 0 0, 0 0;
      background-repeat: no-repeat;

      &.before-link-top.fade:before,
      &.before-link-right.fade:before,
      &.before-link-bottom.fade:before,
      &.before-link-left.fade:before,
      &.after-link-top.fade:after,
      &.after-link-right.fade:after,
      &.after-link-bottom.fade:after,
      &.after-link-left.fade:after {
        transition-duration: 1.5s;
        transition-delay: 0.5s;
        opacity: 0;
      }

      &.before-link-top.visible:before,
      &.before-link-right.visible:before,
      &.before-link-bottom.visible:before,
      &.before-link-left.visible:before,
      &.after-link-top.visible:after,
      &.after-link-right.visible:after,
      &.after-link-bottom.visible:after,
      &.after-link-left.visible:after {
        transition-duration: 0s;
        transition-delay: 0s;
        opacity: 1;
      }

      &.before-link-top:before,
      &.before-link-right:before,
      &.before-link-bottom:before,
      &.before-link-left:before,
      &.after-link-top:after,
      &.after-link-right:after,
      &.after-link-bottom:after,
      &.after-link-left:after {
        position: absolute;
        z-index: 1000;
        content: "";
        background-color: $gamePage-board-td-bg-color-link;
        transition-property: opacity;
        transition-timing-function: ease-in;
      }

      &.before-link-top:before,
      &.after-link-top:after {
        height: 10%;
        width: 5%;
        top: 0;
        left: 47.5%;
      }

      &.before-link-right:before,
      &.after-link-right:after {
        height: 5%;
        width: 10%;
        top: 47.5%;
        right: 0;
      }

      &.before-link-bottom:before,
      &.after-link-bottom:after {
        height: 10%;
        width: 5%;
        bottom: 0;
        left: 47.5%;
      }

      &.before-link-left:before,
      &.after-link-left:after {
        height: 5%;
        width: 10%;
        top: 47.5%;
        left: 0;
      }

      &.selected {
        color: $gamePage-board-td-color-selected;
      }
      @keyframes fontbulger {
        0% {
          transform: scale(1.5, 1.5);
        }
        99% {
          transform: scale(1.5, 1.5);
        }
        100% {
          transform: initial;
        }
      }
      &.complete span {
        animation: fontbulger 0.2s;
        color: $gamePage-board-td-color-complete;
      }
    }

    tr {

      td:last-child {
        background-image: linear-gradient(180deg, $gamePage-board-td-bg-color-default-transparent 98.829%, $gamePage-board-color-border 0.0625rem),
        linear-gradient(90deg, $gamePage-board-td-bg-color-default-transparent 98.8%, transparent 0.0625rem);
      }
    }

    tr:last-child {

      td {
        background-image: linear-gradient(90deg, $gamePage-board-td-bg-color-default-transparent 98.8%, $gamePage-board-color-border 0.0625rem),
        linear-gradient(180deg, $gamePage-board-td-bg-color-default-transparent 98.829%, transparent 0.0625rem);
      }
      td:last-child {
        background-image: none;
      }
    }

    td {
      &.backgroundColor1 {
        background-color: $gamePage-board-td-bg-color-1;
      }
      &.backgroundColor2 {
        background-color: $gamePage-board-td-bg-color-2;
      }
      &.backgroundColor3 {
        background-color: $gamePage-board-td-bg-color-3;
      }
      &.backgroundColor4 {
        background-color: $gamePage-board-td-bg-colo-4;
      }
      &.backgroundColor5 {
        background-color: $gamePage-board-td-bg-color-5;
      }
      &.backgroundColor6 {
        background-color: $gamePage-board-td-bg-color-6;
      }
      &.backgroundColor7 {
        background-color: $gamePage-board-td-bg-color-7;
      }
      &.backgroundColor8 {
        background-color: $gamePage-board-td-bg-color-8;
      }
      &.backgroundColor9 {
        background-color: $gamePage-board-td-bg-color-9;
      }
      &.backgroundColor10 {
        background-color: $gamePage-board-td-bg-color-10;
      }
    }
  }
}

html.csscalc {
  .page-game > .page-content {

    .timer {
      .timer-stars {
        background-position: 0 0.3125rem, calc(33.33% + .5rem) 0.3125rem, calc(66.66% + .5rem) 0.3125rem;
      }
    }

    .board {
      td {
        background-image: linear-gradient(90deg, $gamePage-board-td-bg-color-default-transparent calc(100% - .0625rem), $gamePage-board-color-border .0625rem),
        linear-gradient(180deg, $gamePage-board-td-bg-color-default-transparent calc(100% - .0625rem), $gamePage-board-color-border 0.0625rem);
      }

      tr {
        td:last-child {
          background-image: linear-gradient(180deg, $gamePage-board-td-bg-color-default-transparent calc(100% - .0625rem), $gamePage-board-color-border 0.0625rem),
          linear-gradient(90deg, $gamePage-board-td-bg-color-default-transparent calc(100% - .0625rem), transparent 0.0625rem);
        }
      }

      tr:last-child {
        td {
          background-image: linear-gradient(90deg, $gamePage-board-td-bg-color-default-transparent calc(100% - .0625rem), $gamePage-board-color-border 0.0625rem),
          linear-gradient(180deg, $gamePage-board-td-bg-color-default-transparent calc(100% - .0625rem), transparent 0.0625rem);
        }

        td:last-child {
          background-image: none;
        }
      }
    }
  }
}