.page-game-victory {
  position: relative;
  height: 100%;
  background-color: $gamePageVictory-bg-color;
  width: 100%;
}

.page-game-victory > .page-content {
  /*margin-top: 0rem;*/
  height: 100%;
  width: 100%;

}