.page-rate {
  position: relative;
  height: 100%;
  background-color: $pageRate-bg-color;
  width: 100%;
}

.page-rate > .page-content {
  height: 100%;
  width: 100%;

  .container {
    background-color: $pageRate-container-bg-color;
    color: $pageRate-container-color;
    $margin-left-right: 1.125rem;
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    margin-top: 0.75rem;
    text-align: center;
    //height: 15.625rem;

    .heading {
      $height: 2.375rem;
      height: $height;
      font-size: $pageRate-heading-font-size;
      vertical-align: middle;
      line-height: $height;
      background-color: $pageRate-header-bg-color;
    }
    .description {
      font-size: $pageRate-description-font-size;
      height: 4.3125rem;
      display: table;
      $padding-left-right: 1.75rem;
      padding-left: $padding-left-right;
      padding-right: $padding-left-right;
      padding-top: 0.875rem;
      padding-bottom: 1rem;

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .review,
    .later,
    .never {
      $margin-left-right: 0.875rem;
      margin-left: $margin-left-right;
      margin-right: $margin-left-right;
      vertical-align: middle;
    }

    .review {
      font-size: $pageRate-review-font-size;
      background-color: $pageRate-review-bg-color;
      $height: 2.625rem;
      height: $height;
      line-height: $height;
      margin-bottom: 0.5rem;
    }

    .later,
    .never {
      $height: 2rem;
      height: $height;
      line-height: $height;
    }

    .later {
      font-size: $pageRate-later-font-size;
      background-color: $pageRate-later-bg-color;
      margin-bottom: 0.375rem;
    }
    .never {
      font-size: $pageRate-never-font-size;
      background-color: $pageRate-never-bg-color;
    }

    &:after {
      content: "";
      $height: 2.375rem;
      line-height: $height;
      padding-left: 1rem;
    }
  }
}