//каунтеры, бонусная страница, тренировочная, магазин, диалоги
$color-1: #2ecc71;

//текст, дефолты, линии и бордеры...
$color-2: #ffffff;

//кнопки меню, кнопки купить слайд, диалоги
$color-3: #26c281;

//кнопка магазин, открытые буквы на игровой доске, победный экран, диалоги
$color-4: #ff4545;

//бекграунд всех страниц
$color-5: #81cfe0;

//диалоги, тренировачная страница
$color-6: #f89406;

//диалоги, тренировачная страница
$color-7: #67809f;

//верхушка и низ главной, таймер, оведомления в игре, бонусная, магазин, тренировочная, диалоги
$color-8: #2574a9;

//игровая доска
$color-9: #2a456e;

//кнопка рейтинги, чип открыть слово
$color-10: #ff9d00;

//каунтеры, на слайдах где полоска уровней
$color-11: rgba(85,85,85,0.5);

//тень при нажатии на слайд
$color-12: rgba(0,0,0,0.2);

//цвета слов в на игровой доске
$board-color-1: green;
$board-color-2: blue;
$board-color-3: cyan;
$board-color-4: orange;
$board-color-5: indigo;
$board-color-6: violet;
$board-color-7: grey;
$board-color-8: purple;
$board-color-9: pink;
$board-color-10: darkblue;
$board-color-11: green;
$board-color-12: blue;
$board-color-13: cyan;
$board-color-14: orange;
$board-color-15: indigo;