
.md-overlay {
  background: RGBA(92, 70, 105, 0.7);
}

.md-modal,
.md-modal {
  min-width: 18rem;
  max-width: 25.375rem;

  .md-title {
    border-radius: 0;

    &.icon {
      padding: 0;
      background-image: none;
    }
    h3 {
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      vertical-align: middle;
      text-align: center;
      opacity: 1;
      font-weight: initial;
      padding: 0;
    }
  }
  .md-content {
    border-radius: 0;
    font-weight: 100;
    text-align: center;

    & > p {
      margin: 0;
    }
    a {
      display: block;
      width: 100%;
      text-decoration: none;
      font-weight: initial;
      vertical-align: middle;
    }
  }
}

#loading-dialog {
  .md-content {
    background: $dialogRate-content-bg-color;
  }
}

#rateus-dialog.md-modal {
  .md-title {
    color: $dialogRate-header-color;
    background-color: $dialogRate-header-bg-color;

    h3 {
      font-size: $dialogRate-heading-font-size;
    }
  }
  .md-content {
    padding: 0 0.875rem 2.375rem 0.875rem;
    color: $dialogRate-content-color;
    background: $dialogRate-content-bg-color;
    font-size: $dialogRate-description-font-size;

    & > p {
      padding: 0.6875rem 0.875rem;
    }
    a {
      color: $dialogRate-content-color;
    }
    .rate-now {
      font-size: $dialogRate-review-font-size;
      background-color: $dialogRate-review-bg-color;
      $height: 2.625rem;
      height: $height;
      line-height: $height;
      margin-bottom: 0.5rem;
    }
    .rate-later,
    .rate-never {
      $height: 2rem;
      height: $height;
      line-height: $height;
    }
    .rate-later {
      font-size: $dialogRate-later-font-size;
      background-color: $dialogRate-later-bg-color;
      margin-bottom: 0.375rem;
    }
    .rate-never {
      font-size: $dialogRate-never-font-size;
      background-color: $dialogRate-never-bg-color;
    }
  }
}

#loading-dialog.md-modal {
  .md-content {
    #loader {
      border-top-color: $dialogLoading-color1;

      &:before {
        border-top-color: $dialogLoading-color2;
      }
      &:after {
        border-top-color: $dialogLoading-color3;
      }
    }
  }
}

#nocoins-dialog.md-modal {
  .md-title {
    color: $dialogNoCoins-header-color;
    background-color: $dialogNoCoins-header-bg-color;

    h3 {
      font-size: $dialogNoCoins-heading-font-size;
      //background: initial;
    }
  }
  .md-content {
    color: $dialogNoCoins-content-color;
    background: $dialogNoCoins-content-bg-color;
    font-size: $dialogNoCoins-description-font-size;

    & > p {
      padding: 0.75rem 1.75rem;
    }
    a {
      color: $dialogNoCoins-content-color;
    }
    .buy,
    .earn {
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      width: initial;
      margin-left: 0.875rem;
      margin-right: 0.875rem;
    }
    .buy {
      font-size: $dialogNoCoins-buy-font-size;
      background-color: $dialogNoCoins-buy-bg-color;
      margin-bottom: 0.625rem;

    }
    .earn {
      font-size: $dialogNoCoins-earn-font-size;
      background-color: $dialogNoCoins-earn-bg-color;
      margin-bottom: 0.875rem;
    }
    .cancel {
      font-size: $dialogNoCoins-cancel-font-size;
      background-color: $dialogNoCoins-cancel-bg-color;
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      margin-bottom: 0;
      width: 100%;
    }
  }
}

#invitefriends-dialog.md-modal {
  .md-title {
    color: $dialogInviteFriends-header-color;
    background-color: $dialogInviteFriends-header-bg-color;

    h3 {
      font-size: $dialogInviteFriends-heading-font-size;
      //background: initial;
    }
  }
  .md-content {
    color: $dialogInviteFriends-content-color;
    background: $dialogInviteFriends-content-bg-color;
    font-size: $dialogInviteFriends-description-font-size;

    & > p {
      padding: 0.75rem 1.75rem 1rem;
    }
    a {
      color: $dialogInviteFriends-content-color;
    }
    .invite {
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      width: initial;
      margin-left: 0.875rem;
      margin-right: 0.875rem;
      font-size: $dialogInviteFriends-invite-font-size;
      background-color: $dialogInviteFriends-invite-bg-color;
      //margin-bottom: 0.625rem;
      margin-bottom: 1rem;
    }
    .cancel {
      font-size: $dialogInviteFriends-cancel-font-size;
      background-color: $dialogInviteFriends-cancel-bg-color;
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      margin-bottom: 0;
      width: 100%;
    }
  }
}

#turnoffads-dialog.md-modal {
  .md-title {
    color: $dialogTurnOffAds-header-color;
    background-color: $dialogTurnOffAds-header-bg-color;

    h3 {
      font-size: $dialogTurnOffAds-heading-font-size;
      //background: initial;
    }
  }
  .md-content {
    color: $dialogTurnOffAds-content-color;
    background: $dialogTurnOffAds-content-bg-color;
    font-size: $dialogTurnOffAds-description-font-size;

    & > p {
      padding: 0.75rem 1.75rem 1rem;
    }
    a {
      color: $dialogTurnOffAds-content-color;
    }
    .turnoff {
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      width: initial;
      margin-left: 0.875rem;
      margin-right: 0.875rem;
      font-size: $dialogTurnOffAds-turnoff-font-size;
      background-color: $dialogTurnOffAds-turnoff-bg-color;
      //margin-bottom: 0.625rem;
      margin-bottom: 1rem;
    }
    .cancel {
      font-size: $dialogTurnOffAds-cancel-font-size;
      background-color: $dialogTurnOffAds-cancel-bg-color;
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      margin-bottom: 0;
      width: 100%;
    }
  }
}

#info-dialog.md-modal {
  .md-title {
    color: $dialogInfo-header-color;
    background-color: $dialogInfo-header-bg-color;

    h3 {
      font-size: $dialogInfo-heading-font-size;
    }
  }
  .md-content {
    padding: 0 0.875rem 0.875rem;
    color: $dialogInfo-content-color;
    background: $dialogInfo-content-bg-color;
    font-size: $dialogInfo-description-font-size;

    & > p {
      padding: 1rem 0.75rem;
    }
    a {
      color: $dialogInfo-content-color;
    }
    .cancel {
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      background-color: $dialogInfo-cancel-bg-color;
      font-size: $dialogInfo-cancel-font-size;
    }
  }
}

#error-dialog.md-modal {
  .md-title {
    color: $dialogError-header-color;
    background-color: $dialogError-header-bg-color;

    h3 {
      font-size: $dialogError-heading-font-size;
    }
  }
  .md-content {
    padding: 0 0.875rem 0.875rem;
    color: $dialogError-content-color;
    background: $dialogError-content-bg-color;
    font-size: $dialogError-description-font-size;

    & > p {
      padding: 1rem 0.75rem;
    }
    a {
      color: $dialogError-content-color;
    }
    .cancel {
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      background-color: $dialogError-cancel-bg-color;
      font-size: $dialogError-cancel-font-size;
    }
  }
}

#requirepush-dialog.md-modal {
  .md-title {
    color: $dialogRequirePush-header-color;
    background-color: $dialogRequirePush-header-bg-color;

    h3 {
      font-size: $dialogRequirePush-heading-font-size;
    }
  }
  .md-content {
    padding: 0 0.875rem 1.25rem;
    color: $dialogRequirePush-content-color;
    background: $dialogRequirePush-content-bg-color;
    font-size: $dialogRequirePush-description-font-size;

    & > p {
      padding: 0.75rem;
    }
    a {
      color: $dialogRequirePush-content-color;
    }
    .ok {
      $height: 2.5rem;
      height: $height;
      line-height: $height;
      background-color: $dialogRequirePush-ok-bg-color;
      font-size: $dialogRequirePush-ok-font-size;
      margin-bottom: 0.625rem;
    }
    .cancel {
      $height: 1.875rem;
      height: $height;
      line-height: $height;
      background-color: $dialogRequirePush-cancel-bg-color;
      font-size: $dialogRequirePush-cancel-font-size;
    }
  }
}

#rateus-dialog.md-modal,
#authrequest-dialog.md-modal,
#autherror-dialog.md-modal,
#authsessionexpired-dialog,
#addcomment-dialog {
  max-width: 26.875rem;
}

/**
    Dialog Effects
**/

/* Slide from the bottom */
.md-modal.md-effect-slidebottom .md-content {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

//.md-overlay {
//  background: RGBA(92,70,105,0.7);
//}
//
//.md-modal{
//  border-radius: 0.313rem;
//  max-width: 25.375rem;
//  box-shadow: 0 0.063rem 0.125rem rgba(0,0,0,.3);
//}
//
//
//.md-modal .md-title{
//  background-color: #F6EDDF;
//}
//.md-modal .md-title.icon{
//  background-image: none;
//  padding-left: 0em;
//}
//
//.md-modal .md-title h3 {
//  background: none;
//  opacity: 1;
//  font-size: 1.3rem;
//  font-weight: normal;
//  margin: 0.4rem 0;
//  /*color: #ffffff;*/
//}
//
//
//.md-modal .md-content {
//  color: #5A1B34;
//  background: #FFFFFF;
//  border-top-left-radius: 0em;
//  border-top-right-radius: 0em;
//  padding: 0.625em 1.250em 1.250em 1.250em;
//}
//
//
//.md-modal .md-content > p {
//  margin: 0;
//  padding: 0.625rem 0;
//}
//
//
//.md-modal .md-content a{
//  display: block;
//  width: 100%;
//  font-size: 1.3em;
//}
//
//
//#rateus-dialog.md-modal,
//#authrequest-dialog.md-modal,
//#autherror-dialog.md-modal,
//#authsessionexpired-dialog,
//#addcomment-dialog{
//  max-width: 26.875em;
//}
//
//
//
//
///**
//    Dialog Effects
//**/
//
///* Slide from the bottom */
//.md-modal.md-effect-slidebottom .md-content {
//  -webkit-transition: all 0.3s;
//  -moz-transition: all 0.3s;
//  transition: all 0.3s;
//}

