//INTERACTIONS
//shadow (counters, slide-levels-complete)
$color-11: rgba(85,85,85,0.5);

//shadow (slide, menu buttons)
$color-12: rgba(0,0,0,0.2);


//MAIN PAGE
//mainPage
$mainPage-bg-color: $color-5;

//mainPage-Header
$header-bg-color: $color-8;

//mainPage-Counters
$counters-bg-color: $color-1;
$countersPanel-bg-color: $color-11;
$countersNumbers-color: $color-2;
$scoreCounterPanel-bg-color: $countersPanel-bg-color;
$scoreCounterNumbers-color: $countersNumbers-color;
$coinsCounterPanel-bg-color: $countersPanel-bg-color;
$coinsCounterNumbers-color: $countersNumbers-color;

//mainPage-Menu
$slide-onClick-bg-color: $color-12;
$slide-text-color: $color-2;
$slide-wordsComplete-panel-bg-color: $color-11;
$slide-wordsComplete-progress-bg-color: $color-2;
$slide-instructions-buy-color: $color-2;
$slide-instructions-buy-bg-color: $color-3;
$slide-soon-border-color: $color-2;
$swiper-pagination-bullet: $color-2;
$swiper-pagination-bullet-active: #e87e04;
$hover-box-shadow: inset 999rem 0 $color-12;
$navigation-btn-color: $color-2;
$navigation-btn-bg-color: $color-3;
$navigation-btn-rating-bg-color: $color-10;
$navigation-btn-facebook-bg-color: #3a539b;
$navigation-btn-shop-bg-color: $color-4;
$navigation-btn-facebook-border-color: $color-2;

//mainPage-Footer
$footer-bg-color: $color-8;
$footerLabel-color: $color-2;
$footerSwitchOn-bg-color: $color-3;
$footerSwitchBorderOn-bg-color: $footerSwitchOn-bg-color;
$footerSwitchCircleOn-bg-color: $footerSwitchOn-bg-color;


//GAME PAGE
//gamePage
$gamePage-bg-color: $color-5;

//gamePage-Timer
$gamePage-timer-bg-color: $color-8;
$gamePage-timer-timeLine-panel-bg-color: #555555;
$gamePage-timer-timeLine-fill-bg-color: $color-2;

//gamePage-Chips
$gamePage-chip-color: $color-2;
$gamePage-chip-open-word-bg-color: $color-10;
$gamePage-chip-open-letter-bg-color: #d24d57;
$gamePage-chip-show-word-bg-color: #9b59b6;

//gamePage-Board
$gamePage-board-color: $color-9;
$gamePage-board-color-border: $color-9;
$gamePage-board-td-color-selected: $color-2;
$gamePage-board-td-color-complete: $color-2;
$gamePage-board-td-color-open-letter: $color-4;
$gamePage-board-td-bg-color-link: $color-2;
$gamePage-board-td-bg-color-link-open-letter: $color-4;
$gamePage-board-td-bg-color-default: #e8e8e8;
$gamePage-board-td-bg-color-default-transparent: rgba(232,232,232,0);
$gamePage-board-td-bg-color-1: $board-color-1;
$gamePage-board-td-bg-color-2: $board-color-2;
$gamePage-board-td-bg-color-3: $board-color-3;
$gamePage-board-td-bg-color-4: $board-color-4;
$gamePage-board-td-bg-color-5: $board-color-5;
$gamePage-board-td-bg-color-6: $board-color-6;
$gamePage-board-td-bg-color-7: $board-color-7;
$gamePage-board-td-bg-color-8: $board-color-8;
$gamePage-board-td-bg-color-9: $board-color-9;
$gamePage-board-td-bg-color-10: $board-color-10;
$gamePage-board-td-bg-color-11: $board-color-11;
$gamePage-board-td-bg-color-12: $board-color-12;
$gamePage-board-td-bg-color-13: $board-color-13;
$gamePage-board-td-bg-color-14: $board-color-14;
$gamePage-board-td-bg-color-15: $board-color-15;
$gamePage-board-td-learn-bg-color-1: #febd27;
$gamePage-board-td-learn-bg-color-2: #d24a43;
$gamePage-board-td-learn-bg-color-3: #ae8c64;

//gamePage-Notice
$gamePage-notice-default-bg-color: $color-8;
$gamePage-notice-default-color: $color-2;
$gamePage-notice-noSuchWord-bg-color: $color-8;
$gamePage-notice-noSuchWord-color: $color-2;
$gamePage-notice-selectDifferently-bg-color: #00b16a;
$gamePage-notice-selectDifferently-color: $color-2;
$gamePage-notice-noWordsToShow-bg-color: #d86a43;
$gamePage-notice-noWordsToShow-color: $color-2;

//gamePage-ShownWords
$gamePage-shownWords-word-color: $color-2;


//GAME PAGE VICTORY
//gamePageVictory
$gamePageVictory-bg-color: $color-5;

//gamePageVictory-container
$gamePageVictory-container-bg-color: $color-4;
$gamePageVictory-container-color: $color-2;

//gamePageVictory-container-roundsComplete
$gamePageVictory-container-roundsComplete-panel-bg-color: $color-11;
$gamePageVictory-container-roundsComplete-progress-bg-color: $color-2;

//gamePageVictory-container-continue-button
$gamePageVictory-container-continue-button-bg-color: $color-11;



//BONUS PAGE
$pageBonus-bg-color: $color-5;
$pageBonus-container-bg-color: $color-8;
$pageBonus-container-color: $color-2;
$pageBonus-day-unlocked-bg-color: $color-1;
$pageBonus-day-line-bg-color: $color-2;
//$pageBonus-day-locked-bg-color: #253c4d;
$pageBonus-day-locked-color: rgba(255, 255, 255, 0.5);
$pageBonus-day-locked-bg-color: #3d647f;
$pageBonus-collect-bg-color: $color-1;


//SHOP PAGE
$pageShop-bg-color: $color-5;
$pageShop-container-bg-color: $color-8;
$pageShop-container-color: $color-2;
$pageShop-header-bg-color: $color-4;
$pageShop-inner-block-bg-color: $color-1;
$pageShop-price-bg-color: #429063;


//RANKINGS PAGE
$pageRankings-bg-color: $color-5;
$pageRankings-container-bg-color: #5c97bf;
$pageRankings-container-color: $color-2;
$pageRankings-header-bg-color: #049372;
$pageRankings-playerStats-selected-bg-color: #3eb5f1;
$pageRankings-inviteFriendsFbButton-bg-color: #3a539b;


//LEARN PAGE
$pageLearn-bg-color: $color-5;
$pageLearn-container-bg-color: $color-8;
$pageLearn-container-color: $color-2;
$pageLearn-header-bg-color: $color-1;
$pageLearn-review-bg-color: $color-6;
$pageLearn-later-bg-color: $color-7;
$pageLearn-never-bg-color: $color-7;


//RATE DIALOG
$dialogRate-header-color: $color-2;
$dialogRate-header-bg-color: $color-1;
$dialogRate-content-color: $color-2;
$dialogRate-content-bg-color: $color-8;
$dialogRate-review-bg-color: $color-6;
$dialogRate-later-bg-color: $color-7;
$dialogRate-never-bg-color: $color-7;


//NO-COINS DIALOG
$dialogNoCoins-header-color: $color-2;
$dialogNoCoins-header-bg-color: $color-4;
$dialogNoCoins-content-color: $color-2;
$dialogNoCoins-content-bg-color: $color-8;
$dialogNoCoins-buy-bg-color: $color-1;
$dialogNoCoins-earn-bg-color: $color-1;
$dialogNoCoins-cancel-bg-color: $color-6;


//TURN-OFF-ADS DIALOG
$dialogTurnOffAds-header-color: $color-2;
$dialogTurnOffAds-header-bg-color: $color-1;
$dialogTurnOffAds-content-color: $color-2;
$dialogTurnOffAds-content-bg-color: $color-8;
$dialogTurnOffAds-turnoff-bg-color: $color-1;
$dialogTurnOffAds-cancel-bg-color: $color-6;


//INFO DIALOG
$dialogInfo-header-color: $color-2;
$dialogInfo-header-bg-color: $color-1;
$dialogInfo-content-color: $color-2;
$dialogInfo-content-bg-color: $color-8;
$dialogInfo-cancel-bg-color: $color-3;


//ERROR DIALOG
$dialogError-header-color: $color-2;
$dialogError-header-bg-color: $color-4;
$dialogError-content-color: $color-2;
$dialogError-content-bg-color: $color-8;
$dialogError-cancel-bg-color: $color-1;


//REQUIRE-PUSH DIALOG
$dialogRequirePush-header-color: $color-2;
$dialogRequirePush-header-bg-color: $color-1;
$dialogRequirePush-content-color: $color-2;
$dialogRequirePush-content-bg-color: $color-8;
$dialogRequirePush-ok-bg-color: $color-6;
$dialogRequirePush-cancel-bg-color: $color-7;