.page-learn {
  position: relative;
  height: 100%;
  background-color: $pageLearn-bg-color;
  width: 100%;
}

.page-learn > .page-content {
  height: 100%;
  width: 100%;

  .container {
    background-color: $pageLearn-container-bg-color;
    color: $pageLearn-container-color;
    $margin-left-right: 1.125rem;
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    margin-top: 0.5rem;
    text-align: center;
    //height: 15.625rem;
    padding: 0 0.75rem 1.375rem;

    .aim-of-the-game {
      display: table;
      height: 4.75rem;

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .image-of-board {
      height: 10.25rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .how-to-play {
      display: table;
      height: 6.5rem;

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .start {
      background-color: #2ecc71;
      $height: 2.375rem;
      height: $height;
      line-height: $height;
      vertical-align: middle;
      width: 10.375rem;
      display: inline-block;
    }
  }
}