.page-game {
  position: relative;
  height: 100%;
  background-color: $gamePage-bg-color;
  width: 100%;
}

.page-game > .page-content {
  /*margin-top: 0rem;*/
  height: 100%;
  width: 100%;

  .timer {
    position: relative;
    padding-top: 0.71875rem;
    height: 1.625rem;
    background-color: $gamePage-timer-bg-color;

    .time-line {
      font-size: 1rem;
      position: relative;
      margin-left: 0.75rem;
      height: 0.1875rem;
      width: 88.125%;

      .panel {
        position: absolute;
        border-radius: 1rem;
        top: 0.03125rem;
        bottom: 0.03125rem;
        background-color: $gamePage-timer-timeLine-panel-bg-color;
        width: 100%;
        height: 0.125rem;
      }
      .fill {
        position: absolute;
        top: 0;
        border-radius: 1rem;
        background-color: $gamePage-timer-timeLine-fill-bg-color;
        height: 0.1875rem;
      }
    }

    .timer-images {
      top: 0;
      position: absolute;
      height: 1.625rem;
      width: 100%;
      background-position: 2% 0.3125rem, 33% 0.3125rem, 63% 0.3125rem, top 0.3125rem right 2%;
      background-size: 1rem 1rem, 1rem 1rem, 1rem 1rem, 0.875rem 1rem;
      background-repeat: no-repeat;
    }
  }

  .chips {
    height: 3.125rem;
    margin: 0.25rem auto;
    width: 16.875rem;
    color: #ffffff;

    .btn.chip {
      position: relative;
      height: 3.125rem;
      width: 5.625rem;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: right 0.4rem bottom 0.25rem;
      text-align: center;
      line-height: 0.75rem;
      font-size: 0.75rem;

      .text {
        display: table;
        height: 2rem;
        width: inherit;
        padding-left: 1rem;
        padding-right: 1rem;

        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .value {
        width: 1.75rem;
        position: absolute;
        bottom: 0.4rem;
        left: 0.6rem;
      }
    }
    .open-word {
      background-color: $gamePage-chip-open-word-bg-color;
      background-size: 1.3125rem 1.1875rem;
    }
    .open-letter {
      background-color: $gamePage-chip-open-letter-bg-color;
      background-size: 1.625rem 1.1875rem;
    }
    .show-word {
      background-color: $gamePage-chip-show-word-bg-color;
      background-size: 1.375rem 1.1875rem;
    }
  }

  .board {
    border-collapse: collapse;
    border-left: 0.0625rem solid $gamePage-board-color-border;
    border-top: 0.0625rem solid $gamePage-board-color-border;
    background-color: $gamePage-board-td-bg-color-default;
    margin: auto;
    height: 17.5rem;
    width: 17.5rem;
    table-layout: fixed;

    td {
      cursor: pointer;
      position: relative;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      overflow: hidden;
      border: none;
      background: linear-gradient(90deg, $gamePage-board-td-bg-color-default-transparent 98.8%, $gamePage-board-color-border 0.0625rem),
      linear-gradient(180deg, $gamePage-board-td-bg-color-default-transparent 98.829%, $gamePage-board-color-border 0.0625rem);
      background-size: 100% 100%, 100% 100%;
      background-position: 0 0, 0 0;
      background-repeat: no-repeat;

      &.before-link-top:before,
      &.after-link-top:after {
        position: absolute;
        background-color: $gamePage-board-td-bg-color-link;
        height: 10%;
        width: 5%;
        top: 0;
        left: 47.5%;
        z-index: 1000;
        content: "";
      }

      &.before-link-right:before,
      &.after-link-right:after {
        position: absolute;
        background-color: $gamePage-board-td-bg-color-link;
        height: 5%;
        width: 10%;
        top: 47.5%;
        right: 0;
        z-index: 1000;
        content: "";
      }

      &.before-link-bottom:before,
      &.after-link-bottom:after {
        position: absolute;
        background-color: $gamePage-board-td-bg-color-link;
        height: 10%;
        width: 5%;
        bottom: 0;
        left: 47.5%;
        z-index: 1000;
        content: "";
      }

      &.before-link-left:before,
      &.after-link-left:after {
        position: absolute;
        background-color: $gamePage-board-td-bg-color-link;
        height: 5%;
        width: 10%;
        top: 47.5%;
        left: 0;
        z-index: 1000;
        content: "";
      }

      &.selected {
        color: $gamePage-board-td-color-selected;
      }
      &.isLocked {
        color: $gamePage-board-td-color-isLocked;
      }

      &.backgroundColor1 {
        background-color: $gamePage-board-td-bg-color-green;
      }
      &.backgroundColor2 {
        background-color: $gamePage-board-td-bg-color-blue;
      }
      &.backgroundColor3 {
        background-color: $gamePage-board-td-bg-color-cyan;
      }
      &.backgroundColor4 {
        background-color: $gamePage-board-td-bg-colo-orange;
      }
      &.backgroundColor5 {
        background-color: $gamePage-board-td-bg-color-light-indigo;
      }
      &.backgroundColor6 {
        background-color: $gamePage-board-td-bg-color-violet;
      }
      &.backgroundColor7 {
        background-color: $gamePage-board-td-bg-color-yellow;
      }
      &.backgroundColor8 {
        background-color: $gamePage-board-td-bg-color-purple;
      }
      &.backgroundColor9 {
        background-color: $gamePage-board-td-bg-color-pink;
      }
      &.backgroundColor10 {
        background-color: $gamePage-board-td-bg-color-darkBlue;
      }
    }
  }
}