//MAIN PAGE
//COLOR

//mainPage
$mainPage-bg-color: #81cfe0;

//mainPage-Header
$header-bg-color: #2574a9;

//mainPage-Counters
$counters-bg-color: #2ecc71;
$countersPanel-bg-color: rgba(85,85,85,0.5);
$countersNumbers-color: #ffffff;
$scoreCounterPanel-bg-color: $countersPanel-bg-color;
$scoreCounterNumbers-color: $countersNumbers-color;
$coinsCounterPanel-bg-color: $countersPanel-bg-color;
$coinsCounterNumbers-color: $countersNumbers-color;

//mainPage-Menu
$slide-onClick-bg-color: rgba(0,0,0,0.2);
$slide-text-color: #ffffff;
$slide-wordsComplete-panel-bg-color: rgba(85,85,85,0.5);
$slide-wordsComplete-progress-bg-color: #ffffff;
$slide-instructions-buy: #26c281;
$swiper-pagination-bullet: #ffffff;
$swiper-pagination-bullet-active: #e87e04;
$hover-box-shadow: inset 999rem 0 rgba(0,0,0,0.2);
$navigation-btn-bg-color: #26c281;
$navigation-btn-rating-bg-color: #ff9d00;
$navigation-btn-facebook-bg-color: #3a539b;
$navigation-btn-shop-bg-color: #ff4545;
$navigation-btn-facebook-border-color: #FFFFFF;


//mainPage-Footer
$footer-bg-color: #2574a9;
$footerLabel-color: #ffffff;
$footerSwitchOn-bg-color: #26c281;
$footerSwitchBorderOn-bg-color: $footerSwitchOn-bg-color;
$footerSwitchCircleOn-bg-color: $footerSwitchOn-bg-color;


//SIZE
//mainPage-Menu
//$slide-wordsComplete-progress-size: 0.7;
$slide-heading-font-size: 1.05rem;
$slide-subheading-font-size: 1rem;
$slide-progress-font-size: 0.6rem;
$slide-score-font-size: 0.7rem;
$slide-locked-progress-font-size: 0.75rem;

//mainPage-Footer
$footerSwitch-size: 1.2;
$footerLabel-font-size: 1.500rem;



//GAME PAGE
//COLOR

//gamePage
$gamePage-bg-color: #81cfe0;

//gamePage-Timer
$gamePage-timer-bg-color: #2574a9;
$gamePage-timer-timeLine-panel-bg-color: #555555;
$gamePage-timer-timeLine-fill-bg-color: #ffffff;

//gamePage-Chips
$gamePage-chip-open-word-bg-color: #ff9d00;
$gamePage-chip-open-letter-bg-color: #d24d57;
$gamePage-chip-show-word-bg-color: #9b59b6;

//gamePage-Board
$gamePage-board-color: #2a456e;
$gamePage-board-color-border: #2a456e;
$gamePage-board-td-color-selected: #ffffff;
$gamePage-board-td-color-complete: #ffffff;
$gamePage-board-td-color-open-letter: red;
$gamePage-board-td-bg-color-link: #ffffff;
$gamePage-board-td-bg-color-link-open-letter: red;
$gamePage-board-td-bg-color-default: #e8e8e8;
$gamePage-board-td-bg-color-default-transparent: rgba(232,232,232,0);
$gamePage-board-td-bg-color-1: green;
$gamePage-board-td-bg-color-2: blue;
$gamePage-board-td-bg-color-3: cyan;
$gamePage-board-td-bg-colo-4: orange;
$gamePage-board-td-bg-color-5: indigo;
$gamePage-board-td-bg-color-6: violet;
$gamePage-board-td-bg-color-7: grey;
$gamePage-board-td-bg-color-8: purple;
$gamePage-board-td-bg-color-9: pink;
$gamePage-board-td-bg-color-10: darkblue;

//gamePage-Notice
$gamePage-notice-default-bg-color: blue;
$gamePage-notice-default-color: #ffffff;
$gamePage-notice-noSuchWord-bg-color: red;
$gamePage-notice-noSuchWord-color: blue;
$gamePage-notice-selectDifferently-bg-color: green;
$gamePage-notice-selectDifferently-color: white;
$gamePage-notice-noWordsToShow-bg-color: pink;
$gamePage-notice-noWordsToShow-color: green;

//gamePage-ShownWords
$gamePage-shownWords-word-color: #ffffff;


//SIZE



//GAME PAGE VICTORY
//COLOR

//gamePageVictory
$gamePageVictory-bg-color: #81cfe0;

//gamePageVictory-container
$gamePageVictory-container-bg-color: #ff4545;
$gamePageVictory-container-color: #ffffff;

//gamePageVictory-container-roundsComplete
$gamePageVictory-container-roundsComplete-panel-bg-color: rgba(85,85,85,0.5);
$gamePageVictory-container-roundsComplete-progress-bg-color: #ffffff;

//gamePageVictory-container-continue-button
$gamePageVictory-container-continue-button-bg-color: rgba(85,85,85,0.5);



//BONUS PAGE
//COLOR

//pageBonus
$pageBonus-bg-color: #81cfe0;
$pageBonus-container-bg-color: #2574a9;
$pageBonus-container-color: #ffffff;
$pageBonus-day-unlocked-bg-color: #2ecc71;
$pageBonus-day-line-bg-color: #ffffff;
//$pageBonus-day-locked-bg-color: #253c4d;
$pageBonus-day-locked-color: rgba(255, 255, 255, 0.5);
$pageBonus-day-locked-bg-color: #3d647f;
$pageBonus-collect-bg-color: #2ecc71;


//SIZE
$pageBonus-heading-font-size: 1.5rem;
$pageBonus-collect-font-size: 1.5rem;
$pageBonus-day-font-size: 1rem;
$pageBonus-coins-font-size: 0.875rem;



//SHOP PAGE
//COLOR

//pageShop
$pageShop-bg-color: #81cfe0;
$pageShop-container-bg-color: #2574a9;
$pageShop-container-color: #ffffff;
$pageShop-header-bg-color: #ff4545;
$pageShop-inner-block-bg-color: #2ecc71;
$pageShop-price-bg-color: #429063;


//SIZE
$pageShop-heading-font-size: 1.5rem;
$pageShop-coins-font-size: 1rem;
$pageShop-price-font-size: 1.1rem;
$pageShop-freeCoins-font-size: 1.25rem;
$pageShop-text-font-size: 1.25rem;



//RANKINGS PAGE
//COLOR

//pageRankings
$pageRankings-bg-color: #81cfe0;
$pageRankings-container-bg-color: #5c97bf;
$pageRankings-container-color: #ffffff;
$pageRankings-header-bg-color: #049372;
$pageRankings-inviteFriendsFbButton-bg-color: #3a539b;


//SIZE
$pageRankings-heading-font-size: 1rem;
$pageRankings-inviteFriendsFbButton-font-size: 0.875rem;



//RATE PAGE
//COLOR

//pageRate
$pageRate-bg-color: #81cfe0;
$pageRate-container-bg-color: #2574a9;
$pageRate-container-color: #ffffff;
$pageRate-header-bg-color: #2ecc71;
$pageRate-review-bg-color: #f89406;
$pageRate-later-bg-color: #67809f;
$pageRate-never-bg-color: #67809f;


//SIZE
$pageRate-heading-font-size: 1.5rem;
$pageRate-description-font-size: 1.25rem;
$pageRate-review-font-size: 1.5rem;
$pageRate-later-font-size: 1.25rem;
$pageRate-never-font-size: 1.25rem;
