//цвета для кнопок соц.сетей
$social-vk-bg-color: #6383a8;
$social-fb-bg-color: #3b5998;
$social-twitter-bg-color: #00aced;

//каунтеры, бонусная страница, тренировочная, магазин, диалоги
$color-1: #2ecc71;

//текст, дефолты, линии и бордеры...
$color-2: #ffffff;

//кнопки меню, кнопки купить слайд
$color-3: #26c281;

//кнопка магазин, открытые буквы на игровой доске, победный экран, диалоги
$color-4: #d24a43;

//бекграунд всех страниц
$color-5: #81cfe0;

//диалоги, тренировачная страница
$color-6: #f89406;

//диалоги, тренировачная страница
$color-7: #67809f;

//верхушка и низ главной, таймер, оведомления в игре, бонусная, магазин, тренировочная, диалоги
$color-8: #43598a;

//игровая доска
$color-9: #2a456e;

//кнопка рейтинги, чип открыть слово
$color-10: #fc8f4c;


//цвета слов в на игровой доске
$board-color-1:	#fec5b9;
$board-color-2:	#f9545b;
$board-color-3:	#9d9089;
$board-color-4:	#b78d6d;
$board-color-5:	#c6e4f7;
$board-color-6:	#c82d50;
$board-color-7:	#e98d70;
$board-color-8:	#26c281;
$board-color-9:	#923043;
$board-color-10:	#74bdb8;
$board-color-11:	#e8a8f2;
$board-color-12:	#aa76be;
$board-color-13:	#e0fb5f;
$board-color-14:	#e91e63;
$board-color-15:	#009688;
