//цвета для кнопок соц.сетей
$social-vk-bg-color: #6383a8;
$social-fb-bg-color: #3b5998;
$social-twitter-bg-color: #00aced;

//каунтеры, бонусная страница, тренировочная, магазин, диалоги
$color-1: #2ecc71;

//текст, дефолты, линии и бордеры...
$color-2: #ffffff;

//кнопки меню, кнопки купить слайд
$color-3: #26c281;

//кнопка магазин, открытые буквы на игровой доске, победный экран, диалоги
$color-4: #ff4545;

//бекграунд всех страниц
$color-5: #86e2d5;

//диалоги, тренировачная страница
$color-6: #f89406;

//диалоги, тренировачная страница
$color-7: #67809f;

//верхушка и низ главной, таймер, оведомления в игре, бонусная, магазин, тренировочная, диалоги
$color-8: #2574a9;

//игровая доска
$color-9: #2a456e;

//кнопка рейтинги, чип открыть слово
$color-10: #ff9d00;


//цвета слов в на игровой доске
$board-color-1:	#ae8c64;
$board-color-2:	#90d83c;
$board-color-3:	#febd27;
$board-color-4:	#d24a43;
$board-color-5:	#8ecdf6;
$board-color-6:	#af8bbd;
$board-color-7:	#e98d70;
$board-color-8:	#00b16a;
$board-color-9:	#f37021;
$board-color-10:	#00529c;
$board-color-11:	#e040fb;
$board-color-12:	#795548;
$board-color-13:	#ff9800;
$board-color-14:	#e91e63;
$board-color-15:	#009688;
