

#app-content{

}
#app-content .page-layout{
    /*height: 100vh;*/
    margin-left: 0rem;


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    /*overflow: auto;*/
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#app-content .page-layout .page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    overflow: auto;
    padding: 0;
    margin: 0;
}
#app-content .page-layout .page .page-content{
    margin-bottom: 2rem;
}

html.cordova.ios #app-content .page-layout,
html.cordova.ios #app-content .page-layout .page{
    padding-top: 20px;
}

.page-content{
    padding: 0 0.625rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.page-content .counters {
    background-color: #2ecc71;
    text-align: center;
    padding: 0.2rem;
}

    .page-content .counters .counter{
        height: 1.975rem;
        display: inline-block;
        margin-left: 2rem;
    }
        .page-content .counters .counter:first-of-type{
            margin-left: 0rem;
        }
        .page-content .counters .counter.icon{
            background-size: auto 1.375rem;
            background-repeat: no-repeat no-repeat;
            background-position: left center;
        }
        .page-content .counters .counter .text{
            min-width: 2rem;
            position: relative;
            margin-left: 1.7rem;
            height: 1.125rem;
            line-height: 1rem;
            background-color: rgba(85,85,85,0.5);
            border-radius: 0.313rem;
            margin-top: 0.425rem;
            text-align: center;
            font-size: 1.25rem;
            color: #FFFFFF;
            padding: 0 0.3rem;
        }

        .page-content .counters .counter:last-of-type .text{
            margin-left: 1.2rem;
            padding-right: 1rem;
            min-width: 3rem;
        }

    /*.page-content .counters .counterstars {*/
        /*display:inline-block;*/
        /*height: 2.375rem;*/
        /*width: 7rem;*/
        /*background-color: red;*/
        /*margin-right: 3rem;*/
        /*vertical-align: top;*/
    /*}*/

        /*.page-content .counters .stars .star {*/
            /*display: inline-block;*/
            /*background-color: yellow;*/
        /*}*/

        /*.page-content .counters .stars .counter{*/
            /*display: inline-block;*/
            /*width: 3.750rem;*/
            /*height: 1.125rem;*/
            /*background-color: pink;*/

        /*}*/

    /*.page-content .counters .cash {*/
        /*display: inline-block;*/
        /*height: 2.375em;*/
        /*width: 7rem;*/
        /*background-color: red;*/
        /*vertical-align: top;*/
    /*}*/

        /*.page-content .counters .cash .dollar {*/
            /*display: inline-block;*/
            /*background-color: yellow;*/
        /*}*/

        /*.page-content .counters .cash .counter{*/
            /*display: inline-block;*/
            /*background-color: grey;*/
        /*}*/

        /*.page-content .counters .cash .plus {*/
            /*display: inline-block;*/
            /*background-color: brown;*/
        /*}*/
