.page-main .page-content .footer .rsbc-switch-button {
    position: relative;
    height: 1.875rem;
    line-height: 1.875rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.page-main .page-content .footer .rsbc-switch-button label {
    padding: 0;
    color: #FFFFFF;
    font-size: 1.875rem;
    cursor: pointer;
    height: 1.875rem;
    line-height: 1.875rem;
    vertical-align: bottom;
}

.page-main .page-content .footer .rsbc-switch-button input[type="checkbox"] {
    position: absolute;
    margin-left: -781.172rem;
    visibility: hidden
}

.page-main .page-content .footer .rsbc-switch-button > label:first-child {
    display: inline-block;
    /*min-width: 6rem;*/
    text-align: right;
    margin: 0 0.75rem 0 0
}

.page-main .page-content .footer .rsbc-switch-button label + label {
    /*margin-left: 0.469rem*/
}

.page-main .page-content .footer .rsbc-switch-button input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    margin: 0;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.page-main .page-content .footer .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label {
    padding: 0.156rem;
    width: 3.750rem;
    height: 1.875rem;
    line-height: 1.875rem;
    vertical-align: middle;
    background-color: #eee;
    -webkit-border-radius: 4.688rem;
    -moz-border-radius: 4.688rem;
    border-radius: 4.688rem;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s
}

.page-main .page-content .footer .rsbc-switch-button.rsbc-switch-button-flat-round:hover input[type="checkbox"] + label {
    background-color: #6f6f6f
}

.page-main .page-content .footer .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:before, .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:after {
    display: inline-block;
    position: absolute;
    content: ""
}

.page-main .page-content .footer .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:before {
    top: 0.156rem;
    left: 0.156rem;
    bottom: 0.156rem;
    right: 0.156rem;
    background-color: #fff;
    -webkit-border-radius: 4.688rem;
    -moz-border-radius: 4.688rem;
    border-radius: 4.688rem;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s
}

.page-main .page-content .footer .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:after {
    top: 0.313rem;
    left: 0.313rem;
    bottom: 0.313rem;
    width: 1.250rem;
    background-color: #d5d5d5;
    -webkit-border-radius: 4.063rem;
    -moz-border-radius: 4.063rem;
    border-radius: 4.063rem;
    -webkit-transition: margin .4s, background .4s;
    -moz-transition: margin .4s, background .4s;
    -o-transition: margin .4s, background .4s;
    transition: margin .4s, background .4s
}

.page-main .page-content .footer .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked + label {
    /*background-color: #579fcb*/
    background-color: #26c281;
}

.page-main .page-content .footer .rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked + label:after {
    margin-left: 1.875rem;
    /*background-color: #3887b7;*/
    background-color: #26c281;
}