

#app-content{

}
    #app-content .page-layout{
        /*height: 100vh;*/
        margin-left: 0rem;


        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: block;
        /*overflow: auto;*/
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
        #app-content .page-layout .page{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: block;
            overflow: auto;
            padding: 0;
            margin: 0;
        }
            #app-content .page-layout .page .page-content{
                margin-bottom: 2rem;
            }

html.cordova.ios #app-content .page-layout,
html.cordova.ios #app-content .page-layout .page{
    padding-top: 20px;
}

/*#app-content .page-layout .page {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/

    /*display: block;*/
    /*overflow: auto;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 3rem;
    box-shadow: 0 .093rem .225rem rgba(0,0,0,.3);
    background-color: #ffffff;
}
    html.cordova.ios .top-bar{
        top: 20px;
    }
    .top-bar ~ .page-content{
        margin-top: 4rem;
    }

    .top-bar > .btn.icon{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #F6EDDF;
        height: 100%;
        width: 3rem;
        border: none;
        border-radius: 0;
        margin: 0;
    }
    .top-bar .content{
        margin-left: 3rem;
    }
        .top-bar .content .resources{
            width: 15rem;
            margin: auto auto;
        }
            .top-bar .content .resources .resource-item{
                /*margin-left: 1rem;*/
                float: left;
            }
        .top-bar .content .chips{
            margin-left: 1rem;
            margin-top: .5rem;
            float: left;
        }
            .top-bar .content .chips .btn{

            }

    .top-bar.top-bar-title{
        height: 3.2rem;
    }
        .top-bar.top-bar-title .content{
            text-align: center;
        }
            .top-bar .content .title{
                margin-top: 0.5rem;
                margin-bottom: .2rem;
                font-size: 1.2rem;
            }
            .top-bar .content .subtitle{
                font-size: .7rem;
                height: 1.45rem;
                line-height: 1.45rem;
            }


.page-content{
    padding: 0 0.625rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
    .page-content .panel-block{
        border-radius: 0.313rem;
        box-shadow: 0 0.063rem 0.125rem rgba(0,0,0,.3);
        background-color: #FFF5EC;
    }

    .page-content .list-input-fields{
        border-radius: 0.313rem;
        border: 0.063rem solid #E5D8D2;
        margin: 1rem 0;
        padding: 0.1rem 0;
        background-color: #ffffff;
    }
        /*.page-content .list-input-fields .field-item{*/
            /*position: relative;*/
        /*}*/
        .page-content .list-input-fields .input-item{
            border-top: 0.063rem solid #E7E2E4;
            padding: 0.2rem 1rem;
            background-repeat: no-repeat;
            line-height: 2.813rem;
            height: 2.813rem;
            vertical-align: middle;
        }
            .page-content .list-input-fields .input-item:first-of-type{
                border: none;
            }
            .page-content .list-input-fields .input-item input{
                border: none;
                width: 100%;
                background-color: transparent;
                font-size: 1rem;
                border: 0rem;
                border-radius: 0;
            }

                .page-content .list-input-fields .input-item input::-webkit-input-placeholder,
                .page-content .list-input-fields .input-item input::-moz-placeholder,
                .page-content .list-input-fields .input-item input:-ms-input-placeholder{
                    color: #BBB2B5;
                }
            .page-content .list-input-fields .input-item.icon{
                background-repeat: no-repeat no-repeat;
                background-position: 97% center;
                background-size: 1.2rem;
                padding-right: 2rem;
            }


    .page-content .list-radio-fields{
        margin: -0.9rem 0 1rem 0;
    }
        .page-content .list-radio-fields .fields{
            text-align: center;
        }
            .page-content .list-radio-fields .fields .btn{
                display: inline-block;
                width: 7rem;
                margin-left: 4%;

                border: none;
                background-color: transparent;
                color: inherit;
                background-size: 1.250rem;
                padding-left: 2rem;
                text-align: left;
                height: 2rem;
                line-height: 2.2rem;
                font-size: 0.8rem;
            }
                .page-content .list-radio-fields .fields .btn:first-of-type{
                    margin-left: 0rem;
                }


.page-content .list-items{
    padding-bottom: 1rem;
}
    .page-content .list-items .title{
        border-top-left-radius: .313rem;
        border-top-right-radius: .313rem;
        background-color: #D28547;
        padding: 0.5rem 1rem;
        color: #ffffff;
        width: auto;
        display: inline-block;
        font-size: 0.8rem;
    }
    .page-content .list-items .panel-block{
        border-top-left-radius: 0;
        padding: 0.5rem;
        margin-top: 0;
    }
        .page-content .list-items .panel-block .item{
            background-color: #F6EDDF;
            position: relative;
            margin-bottom: 0.5rem;
            min-height: 4.5rem;
            cursor: pointer;
        }
            html.desktop .page-content .list-items .panel-block .item:hover,
            .page-content .list-items .panel-block .item.hover{
                background-color: rgba(246, 237, 223, 0.5);
            }
            .page-content .list-items .panel-block .item:last-of-type{
                margin-bottom: 0;
            }

            /* game-list */
            .page-content .list-items .panel-block .item .img{
                position: absolute;
                background-repeat: no-repeat no-repeat;
                background-position: center center;
                background-size: cover;
                height: 3.5rem;
                width: 3.5rem;
                margin: auto;
                border-radius: 100%;
                margin: 0.5rem;
            }
            .page-content .game-list .panel-block .game-item .info{
                margin-left: 4rem;
                padding: 0.6rem;

                background-repeat: no-repeat no-repeat;
                background-position: 96% center;
                background-size: 0.750rem;
            }
                .page-content .game-list .panel-block .game-item .info .nickname{
                    font-size: 1rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .page-content .game-list .panel-block .game-item .info .lap{
                    font-size: 0.8rem;
                    margin-top: 0.3rem;
                    color: #71C698;
                }
                .page-content .game-list .panel-block .game-item .info .time{
                    font-size: 0.8rem;
                    margin-top: 0.3rem;
                }

                .page-content .game-list .panel-block .game-item .info .result{
                    font-size: 1.2rem;
                    margin-top: 0.7rem;
                }
                    .page-content .game-list .panel-block .game-item .info .result.victory{
                        color: #71C698;
                    }
                    .page-content .game-list .panel-block .game-item .info .result.defeat{
                        color: #CF0000;
                    }
                    .page-content .game-list .panel-block .game-item .info .result.deadheat{
                        color: #D89867;
                    }
                    .page-content .game-list .panel-block .game-item .info .result.waitingother{
                        color: #B4A19D;
                    }
                .page-content .game-list .panel-block .game-item .info .result ~ .nickname{
                    font-size: 0.8rem;
                    color: #B4A19D;
                    margin-top: 0.2rem;
                }



.resources{

}
    .resources .resource-item{
        position: relative;
        display: inline-block;
        width: auto;
        background-repeat: no-repeat no-repeat;
        background-size: 1.3rem;;
        background-position: left center;
        margin-top: 0.8rem;
        padding: 0.3rem 2.2rem 0.2rem 1.5rem;
        font-size: 1rem;
    }
        .resources .resource-item > .btn{
            height: 1.5rem;
            width: 1.5rem;
            line-height: 1.5rem;
            position: absolute;
            top: 0rem;
            margin: 0;
            right: 0;
            font-size: 1.6rem;
        }


.chips{
    display: inline-block;
    width: auto;
}
    .chips .btn{
        border-radius: 100%;
        display: inline-block;
        background-position: center center;
        float: right;
        margin: .2rem .5rem;
        width: 1.8rem;
        height: 1.8rem;
        background-size: 1.0rem;
        padding: .1rem 0.0rem 0 0;
        line-height: 1.2rem;
    }
        .chips .btn span{
            border-radius: 50%;
            background-color: #AA9699;
            font-size: 0.7rem;
            height: 1rem;
            width: 1rem;
            position: absolute;
        }



.account-info{
    position: relative;
    background-color: #ffffff !important;
    min-height: 5rem;
    margin-top: 1rem;
}
    .account-info .avatar{
        position: absolute;
        width: 5.5rem;
        height: 100%;
        border-top-left-radius: .313rem;
        border-bottom-left-radius: .313rem;
        padding-top: 0.75rem;
    }
        .account-info .avatar .img{
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-size: cover;
            height: 4rem;
            width: 4rem;
            margin: auto;
            border-radius: 100%;
        }
    .account-info .info{
        margin-left: 5.5rem;
        padding: 1rem 1rem 1rem 0.5rem;
    }
        .account-info .info .nickname{
            font-size: 1.2rem;
        }
        .account-info .info .status{
            font-size: 0.8rem;
            margin-top: 0.3rem;
        }
        .account-info .info .resources{

        }
            .account-info .info .resources .resource-item{
                float: left;
                /* min-width: 49.99999999%; */
                margin-right: 1rem;
            }


.account-info-separate{
    position: relative;
    background-color: #ffffff;
    min-height: 4rem;
    margin-top: 0.5rem;
}
    .account-info-separate .userinfo{
        display: inline-block;
        width: 31.999999999%;
        color: #ffffff;
        font-size: 1.0rem;
        text-align: center;
        padding: 0.5rem 0;
        border-top-left-radius: .313rem;
        border-bottom-left-radius: .313rem;
        float: left;
    }
        .account-info-separate .userinfo:last-of-type{
            border-top-right-radius: .313rem;
            border-bottom-right-radius: .313rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            float: right;
        }
        .account-info-separate .userinfo .nickname{
            height: 2.2rem;
            overflow: hidden;
            vertical-align: bottom;
            text-align: center;
            align-content: center;
            justify-content: center;
            display: block;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
        }
        .account-info-separate .userinfo .avatar{
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-size: cover;
            height: 4rem;
            width: 4rem;
            margin: 0.5rem auto;
            border-radius: 100%;
        }
        .account-info-separate .userinfo .score{
            text-align: center;
            vertical-align: middle;
        }
            .account-info-separate .userinfo .score i{
                background-repeat: no-repeat no-repeat;
                background-position: center center;
                background-size: 0.9rem;
                width: 0.9rem;
                height: 0.9rem;
                display: inline-block;
                margin-right: 0.5rem;
            }

    .account-info-separate .gameinfo{
        display: inline-block;
        width: 35.9999999%;
        text-align: center;
        float: left;
        color: #AA9699;
        font-size: 0.9rem;
        padding-top: 1.5rem;
    }
        .account-info-separate .gameinfo .lap{
            margin: 0 0 1rem 0;
            font-size: 1.2rem;
            color: #2FA72F;
        }
            .account-info-separate .gameinfo .lap.victory{
                color: #2FA72F;
            }
            .account-info-separate .gameinfo .lap.defeat{
                color: #CF0000;
                font-size: 1rem;
            }
            .account-info-separate .gameinfo .lap.deadheat{
                color: #D89867;
            }

        .account-info-separate .gameinfo .game-score{
            margin: .2rem 0 0.5rem 0;
            font-size: 1.8rem;
            color: #6E4C59;
        }

        .account-info-separate .gameinfo .waittime{
            font-size: 0.7rem;
            margin-top: 1.3rem;
        }
            .account-info-separate .gameinfo .waittime .game-score{
                font-size: 1.6rem;
            }


.page-content .btn.center{
    width: 70%;
    margin: 1.5rem auto;
}

.page-content .panel-block.loader{
    margin-top: 5rem;
    background-color: #FFF5EC;
    padding: 3rem 1rem;
    text-align: center;
}

.page-content .loader-layout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba(255,255,255,0.6);
    z-index: 100;
}
    .page-content .loader-layout .loader{
        top: 50%;
        margin: 3rem auto;
        display: block;
    }

.tab-layout{
    margin: 1rem 0;
}
    .tab-layout .header{

    }
        .tab-layout .header .header-item{
            display: inline-block;
            width: auto;
            border-top-left-radius: .313rem;
            border-top-right-radius: .313rem;
            margin-right: 0.2rem;
            background-color: #39A939;
            color: #ffffff;
            padding: 0.7rem;
            text-align: center;
            cursor: pointer;
        }
            .tab-layout .header .header-item.active{
                background-color: #ffffff;
                color: #39A939;
                cursor: auto;
            }
            .tab-layout .header .header-item:last-of-type{
                margin-right: 0;
            }
    .tab-layout .tab{
        background-color: #ffffff;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: none;
    }
        .tab-layout .tab.active{
            display: block;
        }


.notify{
    position: fixed;
    top: 3rem;
    width: 100%;
    display:block;
}
    .notify .content{
        margin: auto auto;
        width: auto;
        max-width: 20rem;
        box-shadow: 0 .093rem .225rem rgba(0,0,0,.3);
        border-radius: .313rem;
        background-color: #fff;
        padding: 1rem;
        display: table;
    }







/*
.ptr-layout{
    background: #333;
}
#ptr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 10;
    text-align: center;
    height: 50px;
}

    #ptr .genericon {
        opacity: .6;
        font-size: 34px;
        width: auto;
        height: auto;
        transition: all .25s ease;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-top: 5px;
        display: block;
    }
    .ptr-refresh #ptr .genericon {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .ptr-loading #ptr .genericon{
        display: none;
    }


#ptr .loading {
    text-align: center;
    opacity: .4;
    margin: 12px 0 0 5px;
    display: none;
}
    .ptr-loading #ptr .loading {
        display: block;
    }

    #ptr .loading span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin-right: 3px;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        border-radius: 50%;
        -webkit-animation: ptr-loading 0.4s infinite alternate;
        animation: ptr-loading 0.4s infinite alternate;
    }

    #l1 {
        -webkit-animation-delay: 0;
        animation-delay: 0;
    }

    #l2 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    #l3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

@-webkit-keyframes ptr-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        opacity: 1;
    }
}

@keyframes ptr-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        opacity: 1;
    }
}

.ptr-content {
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.ptr-loading .ptr-content, .ptr-reset #content,
.ptr-loading #ptr, .ptr-reset #ptr {
    transition: all .25s ease;
}

.ptr-reset .ptr-content {
    -webkit-transform: translate3d( 0, 0, 0 );
    transform: translate3d( 0, 0, 0 );
}

.ptr-loading .ptr-content {
    -webkit-transform: translate3d( 0, 50px, 0 );
    transform: translate3d( 0, 50px, 0 );
}
*/