

#app-content{

}
#app-content .page-layout{
    /*height: 100vh;*/
    margin-left: 0rem;


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    /*overflow: auto;*/
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#app-content .page-layout .page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    overflow: auto;
    padding: 0;
    margin: 0;
}
#app-content .page-layout .page .page-content{
    margin-bottom: 2rem;
}

html.cordova.ios #app-content .page-layout,
html.cordova.ios #app-content .page-layout .page{
    padding-top: 20px;
}

.page-content{
    padding: 0 0.625rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.page-content .counters {
    height: 2.375rem;
    background-color: #2ecc71;
    text-align: center;
    font-size: 1.2546875125469998rem;
}

    .page-content .counters .stars {
        display:inline-block;
        height: 2.375rem;
        width: 7rem;
        background-color: red;
        margin-right: 3rem;
        vertical-align: top;
    }

        .page-content .counters .stars .star {
            display: inline-block;
            background-color: yellow;
        }

        .page-content .counters .stars .counter{
            display: inline-block;
            width: 3.750rem;
            height: 1.125rem;
            background-color: pink;

        }

    .page-content .counters .cash {
        display: inline-block;
        height: 2.375em;
        width: 7rem;
        background-color: red;
        vertical-align: top;
    }

        .page-content .counters .cash .dollar {
            display: inline-block;
            background-color: yellow;
        }

        .page-content .counters .cash .counter{
            display: inline-block;
            background-color: grey;
        }

        .page-content .counters .cash .plus {
            display: inline-block;
            background-color: brown;
        }
