.page-main{
    padding-bottom: 2rem;
}

    .page-main > .page-content{
        margin-top: 0rem;
    }

    .page-main .page-content .head {
        height: 6.875rem;
        background-color: #2574a9;
        background-repeat: no-repeat;
        background-size: 14.813rem 4.313rem;
        background-position: center center;
}

    .page-main .page-content .main {
        height: 17.625rem;
        background-color: #81cfe0;
    }

    .page-main .page-content .footer {
        background-color: #2574a9;
        height: 3.125rem;
    }