.page-main{
    padding-bottom: 2rem;
}

    .page-main > .page-content{
        margin-top: 0rem;
    }

    .page-main .page-content .header {
        height: 6.875rem;
        background-color: #2574a9;
    }

        .page-main .page-content .header Head head.head {
            margin: 2rem auto;
            min-width: 14.813rem;
            min-height: 4.313rem;
            background-repeat: no-repeat;
        }

    .page-main .page-content .main {
        height: 17.625rem;
        background-color: cyan;
    }

    .page-main .page-content .footer {
        background-color: #2574a9;
        height: 3.125rem;
    }