<?xml version='1.0' encoding='utf-8'?>
<widget id="__PACKAGE__" version="__VERSION__" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>__NAME_SYSTEM_</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="file:///*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="fbauth://*/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="splash" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="2000" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="Orientation" value="portrait" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="SuppressesIncrementalRendering" value="true" />
    <preference name="UIWebViewDecelerationSpeed" value="normal" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <engine name="ios" spec="../repo/engines/cordova-ios-4.1.1" />
    <engine name="android" spec="../repo/engines/cordova-android-5.1.1" />

    <plugin name="cordova-plugin-console" spec="../repo/plugins/cordova-plugin-console" />
    <plugin name="cordova-plugin-device" spec="../repo/plugins/cordova-plugin-device" />
    <plugin name="cordova-plugin-google-analytics" spec="../repo/plugins/cordova-plugin-google-analytics" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="../repo/plugins/de.appplant.cordova.plugin.local-notification" />
    <plugin name="com.portnou.cordova.plugin.preferences" spec="../repo/plugins/com.portnou.cordova.plugin.preferences" />
    <plugin name="cordova-plugin-facebook" spec="../repo/plugins/cordova-plugin-facebook">
        <variable name="FACEBOOK_DISPLAY_NAME" value="__FB_DISPLAY_NAME__" />
        <variable name="FACEBOOK_APP_ID" value="__FB__APP_ID__" />
    </plugin>
    <plugin name="cordova-plugin-file" spec="../repo/plugins/cordova-plugin-file" />
    <plugin name="cordova-plugin-inappbrowser" spec="../repo/plugins/cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-splashscreen" spec="../repo/plugins/cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" spec="../repo/plugins/cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-whitelist" spec="../repo/plugins/cordova-plugin-whitelist" />
    <plugin name="cc.fovea.cordova.purchase" spec="../repo/plugins/cc.fovea.cordova.purchase">
        <variable name="BILLING_KEY" value="__ANDROID_BILLINT_KEY__" />
    </plugin>
    <plugin name="com.appodeal.plugin" spec="../repo/plugins/appodeal-alek" />
    <plugin name="cordova-plugin-nativeaudio" spec="../repo/plugins/cordova-plugin-nativeaudio" />
    <plugin name="smalldev.tuning" spec="../repo/plugins/smalldev.tuning" />
</widget>
